# Ignorer les fichiers de cache Python
__pycache__/
*.py[cod]
*.parquet
*.zarr
*.nc
*.csv

# On garde les .keep
!data/**/.keep
# Ajouter les config streamlit au git
!/.streamlit/*

# Ignore aussi d'éventuels fichiers temporaires et artefacts
*.tmp
*.bak
*.DS_Store
__pycache__/
*.pyc
*.cache
*.log