/data/raw/*
/data/external/naturalearth/*
/data/processed/*
/data/binaires/individuels/*
/data/binaires/split/*
# Ignorer tout le dossier result sauf ce fichier
/data/result/*
!/data/result/preanalysis/nan_resol_temp.csv


__pycache__/
**/__pycache__/
*.pyc