# Dossiers volumineux ou artefacts
data/
app/
outputs/
outputs_nr10/
logs/
Miniconda3*/
Miniconda3-*.sh
venv/

# Workflows CI
.github/

# Exceptions
!data/**/.keep
!.github/.keep
!/.streamlit/*

# Caches et fichiers temporaires
__pycache__/
*.py[cod]
*.parquet
*.zarr
*.nc
*.csv
*.db
*.sqlite
*.json
*.tmp
*.bak
*.DS_Store
*.pyc
*.cache
*.log
.jupyter_cache/
.quarto/
rapport/annexes.pdf

# Airflow
airflow/*
!airflow/airflow.cfg
!airflow/webserver_config.py
!airflow/dags/*.py