# Core UI and plotting
streamlit==1.43.2
pydeck==0.9.1
matplotlib==3.10.0
plotly==5.24.1
streamlit_plotly_events==0.0.6

# Data manipulation
pandas==2.2.3
numpy==2.2.2
scipy==1.15.1
calendar  # déjà intégré en standard dans Python

# File and compression utils
huggingface_hub==0.29.2
pyyaml==6.0.2