name: Déployer l'application Dockerisée sur Hugging Face

on:
  push:
    branches:
      - app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Récupérer le code du repo GitHub
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # 2. (Optionnel) Installer Git  LFS
      - name: Installer Git LFS
        run: |
          sudo apt-get update
          sudo apt-get install -y git-lfs
          git lfs install

      # 3. Préparer le dossier "deploy" et pousser l'app Dockerisée
      - name: Préparer et pousser l'app Dockerisée
        env:
          HF_TOKEN: ${{ secrets.HF_VIZ_APP }}
          HF_USER: "ncsdecoopman"
          HF_SPACE: "ExtremePrecipit"
        run: |
          # a) Créer le dossier "deploy" et y copier tout sauf ....
          mkdir deploy
          rsync -av --exclude=deploy --exclude=.git --exclude=.github --exclude=data --exclude=assets --exclude=presentation_files . deploy/

          # b) Créer le Dockerfile dans deploy/
          cat <<'EOF' > deploy/Dockerfile
          FROM python:3.11-slim

          RUN apt-get update && apt-get install -y \
              build-essential \
              git \
              && rm -rf /var/lib/apt/lists/*

          WORKDIR /app

          COPY requirements.txt .
          COPY download_data.py .

          RUN pip install --no-cache-dir -r requirements.txt
          RUN pip install huggingface_hub

          RUN rm -rf ~/.cache/huggingface/hub && \
              python download_data.py

          COPY . .

          EXPOSE 7860
          ENV MPLCONFIGDIR=/tmp/matplotlib
          ENV PYTHONPATH=/app

          CMD ["streamlit", "run", "main.py", "--server.port=7860", "--server.address=0.0.0.0"]
          EOF

          # c) Créer le fichier .huggingface.yaml pour activer le mode docker
          echo "sdk: docker" > deploy/.huggingface.yaml

          # d) (optionnel) Ajouter le README
          echo "# Déploiement avec snapshot_download depuis le dataset Hugging Face" > deploy/README.md

          # e) Initialiser et pousser sur Hugging Face
          cd deploy
          git init
          git config user.email "171740134+NCSdecoopman@users.noreply.github.com"
          git config user.name "NCSdecoopman"
          git branch -M main

          HF_REMOTE="https://${HF_USER}:${HF_TOKEN}@huggingface.co/spaces/${HF_USER}/${HF_SPACE}"
          git remote add hf "$HF_REMOTE"

          git add .
          git commit -m "Déploiement Docker depuis workflow (structure corrigée)"
          git push hf main --force
